<div class="bg-light">
  <div class="card-header">
    <h4>Registro de usuarios</h4>
  </div>
  <div class="card-body">
    <form action="">
      <div class="form-group row">
        <div class="col-4">
          <label for="apellido">Ingrese apellido</label>
          <input type="text" class="form-control" name="apellido" placeholder="Ingrese apellido" id="apellido">
        </div>
        <div class="col-4">
          <label for="nombre">Ingrese nombres</label>
          <input type="text" class="form-control" name="nombre" placeholder="Ingrese nombres" id="nombre">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <label for="dni">Ingrese dni</label>
          <input type="number" class="form-control" name="dni" placeholder="###########" id="dni">
        </div>
        <div class="col-4">
          <label for="telefono">Ingrese telefono</label>
          <input type="number" class="form-control" name="telefono" placeholder="###########" id="telefono">
        </div>

      </div>
      <div class="form-group row">
        <div class="col-4">
          <label for="contrasena"> Ingrese contraseña</label>
          <input type="text" class="form-control" name="contrasena" id="contrasena" placeholder="***************">
        </div>
        <div class="col-4">
          <label for="usuario">Ingrese usuario</label>
          <input type="text" class="form-control" name="usuario" placeholder="xxx619" id="usuario">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
            <label for="email">Ingrese email</label>
            <input type="text" class="form-control" name="email" placeholder="usuario@compañia.com" id="email">
          
        </div>
        <div class="col-sm-4">
          <label for="selectv" class="col-sm-4 col-form-label">Registrar como:</label>
          <select id="selectv" class="custom-select mr-sm-2">
            <option selected>Cliente</option>
            <option>Administrador</option>
          </select>
        </div>
      </div>
      <div class="form-control">
        <div class="form-group row">
          <div class="col-sm-4">
          <button class="btn btn-primary">Registrar usuario</button>
        </div>
        <div class="col-sm-4">
       
          <button type="reset" class=" btn btn-primary  ">Limpiar</button>
        </div>
        </div>
      </div>
    </form>
    <!-- <table class="table table-responsive table-bordered" [mfRowsOnPage]="5">
      <thead>
        <th>
          <mfDefaultSorter by="">Usuario</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="">Apellido</mfDefaultSorter>

        </th>
        <th>
          <mfDefaultSorter by="">Nombres</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="">Perfil</mfDefaultSorter>

        </th>

        <th>
          <mfDefaultSorter by="">email</mfDefaultSorter>

        </th>
        <th>
          <mfDefaultSorter by="">Telefono</mfDefaultSorter>

        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr >
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-info">Modificar</button>
          </td>
          <td>
            <button type="button" class="btn btn-info">Modificar</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>

      </tfoot>
    </table>
  <ng-template #modalEdit let-d="dismiss" let-c="close">
  <div class="modal-header">Editando {{ }}<button class="close" type="close" (click)="c('')">X</button></div>
  <div class="modal-body">
    <div class="form-group">
      <label for="nombreEdit">Nombres</label>
      <input [(ngModel)]="" class="form-control">
    </div>
    <div class="form-group">
      <label for="profesorEdit">Apellido</label>
      <input [(ngModel)]="" class="form-control">
    </div>
    <div class="form-group">
      <label for="">DNI</label>
      <input [(ngModel)]="" type="number" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Telefono</label>
      <input [(ngModel)]="" type="number" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Contraseña</label>
      <input [(ngModel)]="" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Usuario</label>
      <input [(ngModel)]="" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="" type="text" class="form-control">
    </div>
    <div class="col-sm-4">
          <label for="selectv" class="col-sm-4 col-form-label">Usuario:</label>
           <select class="form-control" [(ngModel)]="">
            <option *ngFor="" [value]="">{{}}</option>
        </select>
        </div>
    <button type="button" class="btn btn-success" (click)="confirmarCat()">Guardar</button>
  </div>
</ng-template>
  -->
  </div>
</div>