<div class="bg-light">
  <div class="card-header">
    <h4>Registro de usuarios</h4>
  </div>
  <div class="card-body">
    <div id="avisoAgregado"></div>

    <form [(ngSubmit)]="agregarUsuario()">
      <div class="form-group row">
        <div class="col-4">
          <label for="apellido">Ingrese apellido</label>
          <input type="text" class="form-control" name="apellido" [(ngModel)]="newUsuario.apellido" placeholder="Ingrese apellido"
            id="apellido">
        </div>
        <div class="col-4">
          <label for="nombre">Ingrese nombres</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="newUsuario.nombres" placeholder="Ingrese nombres" id="nombre">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <label for="dni">Ingrese dni</label>
          <input type="number" class="form-control" name="dni" [(ngModel)]="newUsuario.dni" placeholder="###########" id="dni">
        </div>
        <div class="col-4">
          <label for="telefono">Ingrese telefono</label>
          <input type="number" class="form-control" name="telefono" [(ngModel)]="newUsuario.telefono" placeholder="###########" id="telefono">
        </div>

      </div>
      <div class="form-group row">
        <div class="col-4">
          <label for="contrasena"> Ingrese contraseña</label>
          <input type="text" class="form-control" name="contrasena" id="contrasena" [(ngModel)]="newUsuario.password" placeholder="***************">
        </div>
        <div class="col-4">
          <label for="usuario">Ingrese usuario</label>
          <input type="text" class="form-control" name="usuario" placeholder="xxx619" [(ngModel)]="newUsuario.usuario" id="usuario">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <label for="email">Ingrese email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="newUsuario.email" placeholder="usuario@compañia.com" id="email">

        </div>
        <div class="col-sm-4">
          <label for="selectv" class="col-sm-4 col-form-label">Registrar como:</label>
          <select id="selectv" name="selectv" class="custom-select mr-sm-2" [(ngModel)]="newUsuario.perfil">
            <option selected value="cliente">Cliente</option>
            <option value="administrativo">Administrativo</option>
            <option value="administrador">Administrador</option>
          </select>
        </div>
      </div>
      <div class="form-control">
        <div class="form-group row">
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Registrar usuario</button>
          </div>
          <div class="col-sm-4">

            <button type="reset" class=" btn btn-primary  ">Limpiar</button>
          </div>
        </div>
      </div>
    </form>
    <div id="avisoBorrado"></div>

    <table class="table responsive" [mfData]="arrayUsuarios" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <th>
          <mfDefaultSorter by="usuario">Usuario</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="apellido">Apellido</mfDefaultSorter>

        </th>
        <th>
          <mfDefaultSorter by="nombres">Nombres</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="perfil">Perfil</mfDefaultSorter>

        </th>

        <th>
          <mfDefaultSorter by="email">email</mfDefaultSorter>

        </th>
        <th>
          <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter>

        </th>
        <th>
          <mfDefaultSorter by="password">Contraseña</mfDefaultSorter>

        </th>
        <th>
          Acciones
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let user of mf.data">
          <td>{{ user.usuario }}</td>
          <td>{{user.apellido }}</td>
          <td>{{user.nombres}}</td>
          <td>{{user.perfil}}</td>
          <td>{{user.email}}</td>
          <td>{{user.telefono}}</td>
          <td>{{user.password}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="modificarUsuario(user)" data-toggle="modal" data-target="#modalEdit">Modificar</button>
            <button type="button" class="btn btn-warning" (click)="borrarUsuario(user)">Eliminar</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>

      </tfoot>
    </table>
  </div>
</div>



<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edición de vehículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="avisoModificado"></div>
        <form [(ngSubmit)]="actualizarUsuario()">
          <div class="form-group row">
            <div class="col-4">
              <label for="apellido">Ingrese apellido</label>
              <input type="text" class="form-control" name="apellido" [(ngModel)]="modUsuario.apellido" placeholder="Ingrese apellido"
                id="apellido">
            </div>
            <div class="col-4">
              <label for="nombre">Ingrese nombres</label>
              <input type="text" class="form-control" name="nombre" [(ngModel)]="modUsuario.nombres" placeholder="Ingrese nombres" id="nombre">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label for="dni">Ingrese dni</label>
              <input type="number" class="form-control" name="dni" [(ngModel)]="modUsuario.dni" placeholder="###########" id="dni">
            </div>
            <div class="col-4">
              <label for="telefono">Ingrese telefono</label>
              <input type="number" class="form-control" name="telefono" [(ngModel)]="modUsuario.telefono" placeholder="###########" id="telefono">
            </div>

          </div>
          <div class="form-group row">
            <div class="col-4">
              <label for="contrasena"> Ingrese contraseña</label>
              <input type="text" class="form-control" name="contrasena" id="contrasena" [(ngModel)]="modUsuario.password" placeholder="***************">
            </div>
            <div class="col-4">
              <label for="usuario">Ingrese usuario</label>
              <input type="text" class="form-control" name="usuario" placeholder="xxx619" [(ngModel)]="modUsuario.usuario" id="usuario">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <label for="email">Ingrese email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="modUsuario.email" placeholder="usuario@compañia.com" id="email">

            </div>
            <div class="col-sm-4">
              <label for="selectv" class="col-sm-4 col-form-label">Registrar como:</label>
              <select id="selectv" name="selectv" class="custom-select mr-sm-2" [(ngModel)]="modUsuario.perfil">
                <option selected value="cliente">Cliente</option>
                <option value="administrativo">Administrativo</option>
                <option value="administrador">Administrador</option>
              </select>
            </div>
          </div>
          <div class="form-control">
            <div class="form-group row">
              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Registrar usuario</button>
              </div>
              <div class="col-sm-4">

                <button type="reset" class=" btn btn-primary  ">Limpiar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>